
  <footer class="container">

  <div class="row mt20">
  
  <div class="col-md-4 text-center">Michel Cordeiro <a target="_blank" href="https://br.linkedin.com/in/michelcordeiro">Veja Mais</a></div>
  <div class="col-md-4 text-center" >
  {% if site.built-by %}
  <a target="_blank" href="https://github.com/MichelCordeiro/michelcordeiro.github.io/archive/master.zip"><img src="https://img.shields.io/badge/download-981KB%20blog.v2-green.svg" alt="{{site.built-by}}"></a>
  {% endif %}
  </div>
  <div class="col-md-4 text-center">
     <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a> 
      <a target="_blank" href="{{site.linkedin}}"><li class="social linkedin"><img src="{{site.baseurl}}/images/linkedin.svg" alt="{{site.linkedin}}"></li></a>      
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}"></li></a>      
      <a target="_blank" href="{{site.github}}"><li class="social github"><img src="{{site.baseurl}}/images/github.svg" alt="{{site.github}}"></li></a>
  </div>
  
  </div> 

</footer>
